.taskToDoCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    position: relative; /* Position relative for absolute positioning of buttons */
}
.taskToDomultiTaskTitle{
    text-align: center;
}

.taskToDoCard-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.taskToDoCard-description {
    margin-bottom: 8px;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.taskToDostatusClass{
    border: 1px solid #81837c;
    padding: 5px 5px;
    float: right;
    border-radius: 3px;
    background-color: #6f736e;
    color: #FFFFFF;
    font-size: 16px;
}

.taskToDoCard-date {
    font-style: italic;
    color: #666;
}

.taskToDoCard-buttons {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.taskToDoEdit-button, .taskToDoDelete-button {
    margin: 0 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.taskToDoEdit-button:hover, .taskToDoDelete-button:hover {
    background-color: #0056b3;
}
